<div class="wrap wrap-mountain mt-12">
    <div class="container mt-6">
        <div class="text-center mb-4">
            <h2>Empresas de la Corporación ENDE</h2>
        </div>
        <div class="row" style="color: #333333 !important;background-color:white;">
            <div class="col-md-12">
                <h3 class="color-primary wow fadeInUp animation-delay-2" style="visibility: visible; animation-name: fadeInUp;"></h3>
                <p class="wow fadeInUp animation-delay-3" style="visibility: visible; animation-name: fadeInUp;">
                    <table align="center" border="0" cellpadding="1" cellspacing="1">
                        <thead>
                            <tr>
                                <th colspan="4" scope="col" style="text-align: center;">
                                    <img alt="" class="cke-resize" src="templates/filiales_ende.jpg" style="width: 400px; height: 234px;" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">
                                    <img alt="" src="templates/filiales_top_generacion.png" style="width: 250px; height: 153px;" /></td>
                                <td style="text-align: center;">
                                    <img alt="" src="templates/filiales_top_transmision.png" style="width: 250px; height: 153px;" /></td>
                                <td style="text-align: center;">
                                    <img alt="" src="templates/filiales_top_distribucion.png" style="width: 250px; height: 153px;" /></td>
                                <td style="text-align: center;">
                                    <img alt="" src="templates/filiales_top_servicio.png" style="width: 250px; height: 153px;" /></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <a href="http://www.endeandina.bo/" target="_blank"><img alt="" src="templates/filiales_ende_andina.png" style="width: 200px; height: 112px;" /></a></td>
                                <td style="text-align: center;">
                                    <a href="http://www.endetransmision.bo/" target="_blank"><img alt="" src="templates/filiales_ende_transmision.png" style="width: 200px; height: 112px;" /></a></td>
                                <td style="text-align: center;">
                                    <a href="http://www.delapaz.bo/" target="_blank"><img alt="" src="templates/filiales_distribuidora_de_la_paz.png" style="width: 200px; height: 112px;" /></a></td>
                                <td style="text-align: center;">
                                    <img alt="" class="cke-resize" src="templates/filiales_ende_servicios_y_construccion.png" style="width: 200px; height: 112px;" /></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <a href="http://www.corani.bo/" target="_blank"><img alt="" src="templates/filiales_ende_corani.png" style="width: 200px; height: 112px;" /></a></td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                                <td style="text-align: center;">
                                    <a href="http://www.elfec.bo/" target="_blank"><img alt="" src="templates/filiales_elfec.png" style="width: 200px; height: 112px;" /></a></td>
                                <td style="text-align: center;">
                                    <a href="http://www.et.bo/" target="_blank"><img alt="" src="templates/filiales_ende_tecnologias.png" style="width: 200px; height: 112px;" /></a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <a href="http://www.evh.bo/" target="_blank"><img alt="" src="templates/filiales_ende_valle_hermoso.png" style="width: 200px; height: 112px;" /></a></td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                                <td style="text-align: center;">
                                    <a href="http://www.endedelbeni.bo/" target="_blank"><img alt="" src="templates/filiales_ende_del_beni.png" style="width: 200px; height: 112px;" /></a></td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <img alt="" src="templates/filiales_ende_rio_electrico.png" style="width: 150px; height: 84px;" /></td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                                <td style="text-align: center;">
                                    <img alt="" class="cke-resize" src="templates/filiales_ende_de_oruro.png" style="width: 200px; height: 112px;" /></td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <a href="http://www.guaracachi.com.bo/" target="_blank"><img alt="" src="templates/filiales_ende_guaracachi.png" style="width: 200px; height: 112px;" /></a></td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                                <td style="text-align: center;">
                                    &nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
</div>
