<div class="wrap wrap-mountain mt-12">
    <div class="container mt-6">
        <div class="text-center mb-4">
            <h2>INFRAESTRUCTURA Y MEDIOS</h2>
        </div>
        <div class="row" style="color: #333333 !important;background-color:white;">
            <div class="col-md-12">
                <h3 class="color-primary wow fadeInUp animation-delay-2"
                    style="visibility: visible; animation-name: fadeInUp;">Mantenimiento</h3>
                <p class="wow fadeInUp animation-delay-3" style="visibility: visible; animation-name: fadeInUp;">
                    ENDE TRANSMISIÓN cuenta con medios, equipos e intrumentos de medición y ensayo especializados, para
                    efectuar las siguientes actividades:
                    <br>
                    <b>Mantenimiento General de Líneas Desenergizadas</b>
                <ul class="wow fadeInUp animation-delay-3">
                    <li>Equipo completo para mantenimiento en líneas de 69, 115 y 230 kV.</li>
                </ul>

                <b>Mantenimiento en Líneas Energizadas</b>
                <ul class="wow fadeInUp animation-delay-3">
                    <li>Equipo completo para mantenimiento preventivo en líneas de 69, 115 y 230 kV.</li>
                </ul>

                <b>Instrumentos y Equipos de Última Generación para Ensayos, Medición y Prueba de:</b>
                <ul class="wow fadeInUp animation-delay-3">
                    <li>Transformadores de potencia.</li>
                    <li>Transformadores de intrumentación en alta tensión ( tensión y corriente ).</li>
                    <li>Interruptores.</li>
                    <li>Pararrayos.</li>
                    <li>Equipos de medida.</li>
                    <li>Equipos de protección.</li>
                    <li>Comunicaciones.</li>
                    <li>Banco de capacitores.</li>
                    <li>Máquinas eléctricas rotativas.</li>
                    <li>Cables de potencia.</li>
                </ul>

                <b>Laboratorio y Plantas Móviles</b>
                <ul class="wow fadeInUp animation-delay-3">
                    <li>Plantas de tratamiento de aceite dieléctrico.</li>
                    <li>Laboratorio de equipos de medición, protecciones y comunicaciones.</li>
                </ul>

                <b>Sistema de Comunicaciones</b>
                <ul class="wow fadeInUp animation-delay-3">
                    <li>Onda portadora entre todas las subestaciones de transmisión.</li>
                    <li>Comunicaciones VHF y HF, complementadas con sistemas de buscapersonas y telefonía celular.</li>
                </ul>

                <b> Parque Automotor</b>

                <ul class="wow fadeInUp animation-delay-3">
                    <li>Disponibilidad de una flota de vehículos para transporte de personal, equipos e intrumentos.</li>
                </ul>



                </p>

                <p class="wow fadeInUp animation-delay-3" style="visibility: visible; animation-name: fadeInUp;">
                <h3 class="color-primary wow fadeInUp animation-delay-2"
                    style="visibility: visible; animation-name: fadeInUp;">Ingeniería</h3>
                <br>


                <p class="wow fadeInUp animation-delay-3">
                    La Empresa dispone de ingenieros y técnicos con más de 20 años de experiencia en el diseño, construcción, pruebas y puesta en servicio de líneas de transmisión, subestaciones y sistemas de control, protección, comunicaciones y telecontrol, en tensiones de hasta 230 kV.
                    <br>
                    Para el diseño de líneas combina los servicios especializados en topografía, estudios de suelos y geología con las facilidades de programas para optimizar los diseños.
                    <br>
                    Para el análisis de sistemas, se cuenta con programas desarrollados para ambiente windows por CYME Internacional, consistente en CYMEDIT para crear bases de datos de la red eléctrica, el PSAF FLOW para la realización de estudios de flujos de potencia y de estabilidad transitoria y el PSAF FAULT para la determinación de potencias de falla.

                    <br>
                    ENDE TRANSMISIÓN como único transmisor en el país, complementa el servicio de transporte, poniendo a disposición de sus clientes y empresas con las que trabaja, el personal, los instrumentos, equipos y sistemas de manera directa, simple, flexible y confiable.
                    <br>
                    La empresa dispone también de personal especializado en el diseño, implementación y ampliación de sistemas de control, protección, comunicación y telecontrol. Adicionalmente se cuenta con los medios necesarios para realizar estudios de coordinación de protecciones.

                </p>


                <h3 class="color-primary wow fadeInUp animation-delay-2"
                    style="visibility: visible; animation-name: fadeInUp;">Provisión de Materiales y Repuestos</h3>
                <br>
                <b>Existen cuatro almacenes con existencias para cubrir amplios requerimientos en:</b>
                <ul class="wow fadeInUp animation-delay-3">
                    <li>Tramos de líneas.</li>
                    <li>Aceites dieléctricos.</li>
                    <li>Conductores.</li>
                    <li>Equipos de maniobra, control y protección para subestaciones.</li>

                </ul>


                </p>




            </div>

        </div>
    </div>

</div>
