<div class="wrap wrap-mountain mt-12">
    <div class="container mt-6">
        <div class="text-center mb-4">
            <h2>INSTRUMENTOS Y EQUIPOS</h2>
        </div>
        <div class="row" style="color: #333333 !important;background-color:white;">
            <div class="col-md-12">
                <h3 class="color-primary wow fadeInUp animation-delay-2"
                    style="visibility: visible; animation-name: fadeInUp;">instrumentos y Equipos para Líneas</h3>


                <div class="item_fulltext">
                    <ul>
                        <li style="text-align: justify;" class="firstItem">
                            Equipo de mantenimiento general de líneas.</li>
                        <li style="text-align: justify;">
                            Equipos y herramientas para mantenimiento en líneas energizadas (Líne Viva) desde 25 hasta 230 kV, AB CHANCE</li>
                        <li style="text-align: justify;">
                            Cámara Termográfica FLIR ThermaCAM P20.</li>
                        <li style="text-align: justify;">
                            Detector de perforación de aislamiento en cadenas de suspensión y tensión en línea energizada, POSITRON.</li>
                        <li style="text-align: justify;">
                            Medidor de resistividad de suelos, resistencia de puesta a tierra SATURN GEO X.</li>
                        <li style="text-align: justify;">
                            Medidor de resistencia de puesta a tierra de alta frecuencia, ABB – HW2A.</li>
                        <li style="text-align: justify;">
                            Instrumentos de levantamiento topográfico Estación Total LEICA – TC705 y TC805.</li>
                        <li style="text-align: justify;" class="lastItem">
                            Instrumentos de Posicionamiento Global – GPS GARMIN</li>
                    </ul>
                    <h2 style="text-align: justify;">
                        Instrumentos de medición y pruebas para Subestaciones</h2>
                    <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
                        <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li style="text-align: justify;" class="firstItem">
                                        Analizador Automático de Aislamiento, DOBLE M4000*</li>
                                    <li style="text-align: justify;">
                                        Analizador Automático de Aislamiento, Inyección Primaria y Parámetros de Línea, OMICRON CPC 100* + CP TD1 +CP CU1</li>
                                    <li style="text-align: justify;">
                                        Analizador Automático a Barrido de Respuesta de Frecuencia, DOBLE M5100*</li>
                                    <li style="text-align: justify;">
                                        Laboratorio Fisicoquímico de Aceite Dieléctrico:
                                        <ul>
                                            <li style="text-align: justify;" class="firstItem">
                                                Espinterómetro Digital, BAUR – DTS*</li>
                                            <li style="text-align: justify;">
                                                Medidor de Humedad, AQUADRAN AD2000*</li>
                                            <li style="text-align: justify;">
                                                Medidor de Humedad, DOBLE DOMINÓ*</li>
                                            <li style="text-align: justify;">
                                                Medidor Potenciométrico de Contenido de Acidez, METROHM TITRINO 702*</li>
                                            <li style="text-align: justify;">
                                                Medidor en Kit de Contenido de Acidez, GERIN</li>
                                            <li style="text-align: justify;">
                                                Medidor Digital de Contenido de PCB’s (Aceite y Suelo), DEXSIL L2000DX*</li>
                                            <li style="text-align: justify;">
                                                Medidor de Tensión Interfacial, FISHER*</li>
                                            <li style="text-align: justify;">
                                                Colorímetro, LOVIBOND AF650</li>
                                            <li style="text-align: justify;" class="lastItem">
                                                Detector de fallas incipientes (H2 y CO), SYPROTEC G.E. – HIDRAN 103B</li>
                                        </ul>
                                    </li>
                                    <li style="text-align: justify;">
                                        Laboratorio Cromatográfico de Aceite Dieléctrico:
                                        <ul>
                                            <li style="text-align: justify;" class="firstItem">
                                                Cromatografo de Gases Disueltos, MOBIL GC*</li>
                                            <li style="text-align: justify;" class="lastItem">
                                                Cromatografo de Gases Medidor de Contenido de Inhibidor, AGILENT 6890N*</li>
                                        </ul>
                                    </li>
                                    <li style="text-align: justify;">
                                        Analizador de Interruptores para movimientos, vibraciones, amortiguaciones, resistencia dinámica, PROGRAMMA TM1600/MA31/61 SCA606*+ CABA</li>
                                    <li style="text-align: justify;">
                                        Analizador de Interruptores para movimientos, HATHAWAY – CBT 400</li>
                                    <li style="text-align: justify;">
                                        Micróhmetro, medidor de resistencias de contacto en interruptores de potencia, PROGRAMMA – MON690* y MON 600A</li>
                                    <li style="text-align: justify;">
                                        Unidad de Alimentación de Potencia, PROGRAMMA - B10E* y B10</li>
                                    <li style="text-align: justify;">
                                        Medidor de Relación de Transformación, SHUETZ - PW3R*</li>
                                    <li style="text-align: justify;">
                                        Medidor de Relación de Transformación, BIDDLE – TTR</li>
                                    <li style="text-align: justify;">
                                        Medidor de Relación de Transformación con transformador auxiliar adaptador, MULTIAMP – TR700 +CVT</li>
                                    <li style="text-align: justify;">
                                        Medidor de Resistencia Óhmica de Arrollamientos de Transformadores - MULTIAMP</li>
                                    <li style="text-align: justify;">
                                        Medidor de Baja Resistencia Óhmica de Arrollamientos de Transformadores - DLO</li>
                                    <li style="text-align: justify;">
                                        Unidad de Inyección Secundaria, PROGRAMA – SVERKER 750</li>
                                    <li style="text-align: justify;">
                                        Medidor de Capacitancias para Bancos de Capacitores, ABB – CB10</li>
                                    <li style="text-align: justify;">
                                        Medidor de Resistencia Óhmica (Puente Wheatstone), BIDDLE INSTRUMENTS -74430</li>
                                    <li style="text-align: justify;">
                                        Medidor de Resistencia Óhmica (Puente Kelvin), BIDDLE INSTRUMENTS</li>
                                    <li style="text-align: justify;">
                                        Medidor Megaóhmetro de Resistencia de Aislamiento, MEGGER 1-5000V*</li>
                                    <li style="text-align: justify;">
                                        Medidor Megaóhmetro de Resistencia de Aislamiento, MEGGER BM25, BM11d</li>
                                    <li style="text-align: justify;">
                                        Cámara Termográfica FLIR ThermaCAM P60*</li>
                                    <li style="text-align: justify;">
                                        Cámara Termográfica FLIR PRISM DS</li>
                                    <li style="text-align: justify;">
                                        Cámara de Efecto Corona OFIL - DAYCOR II*</li>
                                    <li style="text-align: justify;">
                                        Medidor de Corriente de Fuga y Corriente Resistiva en Pararrayos de Oxido Metálico, TRANSINOR LCM II*</li>
                                    <li style="text-align: justify;">
                                        Medidor de Intensidad de Campo Eléctrico en Alta Frecuencia NARDA - EMR 300*</li>
                                    <li style="text-align: justify;">
                                        Medidor de Intensidad de Campo Eléctrico y Densidad de Campo Magnético en Baja Frecuencia NARDA - EFA 200*</li>
                                    <li style="text-align: justify;">
                                        Calibrador de Procesos de Temperatura y Presión FLUKE 725*</li>
                                    <li style="text-align: justify;">
                                        Medidor de Tensiones de Paso y Contacto KOBAN</li>
                                    <li style="text-align: justify;">
                                        Instrumento de medición de Punto de Condensación en Gas (Humedad) SF6, N2 y Aire Sintético – DILO 3-031-R002</li>
                                    <li style="text-align: justify;">
                                        Instrumento de de prueba en Alta Tensión (Hi Pot) hasta 120 kV para cables de potencia – HIPOTRONICS – 8000</li>
                                    <li style="text-align: justify;">
                                        Generador de Corriente par Inyección primaria hasta 1000 Amp - MULTIAMP</li>
                                    <li style="text-align: justify;">
                                        Analizador Automático de Bancos de Baterías - PROGRAMMA TMC2001d*</li>
                                    <li style="text-align: justify;">
                                        Medidor de Gravedad Específica de Electrolito para Baterías – ANTÓN PAAR DMA31*</li>
                                    <li style="text-align: justify;" class="lastItem">
                                        Descargador Automático de Banco de Baterías – PROGRAMA TORKEL 720*</li>
                                </ul>
                                <p>
                                    &nbsp;</p>
                            </td>
                            <td>
                                <p style="text-align: right;">
                                    <img alt="" src="/etr/images/TDE/articulos/servicio4.jpg" style="width: 150px; height: 98px;"></p>
                                <p style="text-align: right;">
                                    <img alt="" src="/etr/images/TDE/articulos/servicio5.jpg" style="width: 150px; height: 227px;"></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h2 style="text-align: justify;">
                        Equipos de Subestaciones</h2>
                    <ul>
                        <li style="text-align: justify;" class="firstItem">
                            Equipo portátil de Vacío y Tratamiento de Gas SF6, TRANSOR TFGFV-4C</li>
                        <li style="text-align: justify;">
                            Planta de Tratamiento y regeneración de Aceite de 200L/h, ENERVAC</li>
                        <li style="text-align: justify;">
                            Planta de Tratamiento de Aceite Dieléctrico de 500 y 2000 L/h TRANSOR TF40 y ETEA AR 500 y AR2000.</li>
                        <li style="text-align: justify;">
                            Bomba de Vacío de 120 m3/h, 0,1 mbar TRANSOR DVU 120</li>
                        <li style="text-align: justify;">
                            Cisternas móvil de 20,000 litros</li>
                        <li style="text-align: justify;" class="lastItem">
                            Cisternas estacionarios de 20,000, 10,000 y 3,000 litros</li>
                    </ul>
                    <h2 style="text-align: justify;">
                        Instrumentos de Pruebas de Control, Protección y Medición</h2>
                    <ul>
                        <li style="text-align: justify;" class="firstItem">
                            Instrumento de inyección trifásica de corriente y tensión con frecuencia variable para prueba de relés de toda tecnología OMICRON CMC256*</li>
                        <li style="text-align: justify;">
                            Instrumento de inyección trifásica de corriente y tensión con frecuencia variable y módulo de amplificación de tensiones y corrientes para prueba de relés de toda tecnología, OMICRON CMC156</li>
                        <li style="text-align: justify;">
                            Instrumento de inyección trifásica de corriente y tensión con&nbsp; frecuencia variable para prueba de relés electrónicos, numéricos y transductores, PROGRAMMA FREJA RTS-21</li>
                        <li style="text-align: justify;">
                            Analizador de Redes, CIRCUTOR AR5.</li>
                        <li style="text-align: justify;">
                            Analizador de Redes, NORMA D5255 S/G*</li>
                        <li style="text-align: justify;">
                            Instrumento para Calibración de Transductores, ZERA VCS320*.</li>
                        <li style="text-align: justify;">
                            Patrón de patrones clase 0.02 para contrastación de medidores y medidores patrones, KNOPP KM-90</li>
                        <li style="text-align: justify;">
                            Detector de Cables en Instalaciones, FLUKE 2042</li>
                        <li style="text-align: justify;" class="lastItem">
                            Osciloscopio Digital, FLUKE 199C</li>
                    </ul>
                    <h2 style="text-align: justify;">
                        Instrumentos de Pruebas para Equipos de Comunicación</h2>
                    <ul>
                        <li style="text-align: justify;" class="firstItem">
                            Medidor de atenuación óptica, revisión y mantenimiento de fibra óptica OTDR, GN NETTEST –CMA4400</li>
                        <li style="text-align: justify;">
                            Analizador de Espectro Electromagnético, IFR 2395*</li>
                        <li style="text-align: justify;">
                            Analizador de Redes, ANT 5 STM1/4*</li>
                        <li style="text-align: justify;">
                            Instrumento para mantenimiento de equipos de radio AM/FM IFR-1200S</li>
                        <li style="text-align: justify;">
                            Voltímetro selectivo para revisión y mantenimiento de sistemas de comunicación y onda portadora, W&amp;G – SPM 32A*</li>
                        <li style="text-align: justify;">
                            Osciloscopio Digital, FLUKE 199C y 196.</li>
                        <li style="text-align: justify;">
                            Oscilador de Inyección de Señales, W&amp;G PS-33A.</li>
                        <li style="text-align: justify;">
                            Fuente Óptica de Rayos Laser, ACTERNA OLS-6.</li>
                        <li style="text-align: justify;">
                            Medidor de Potencia Óptica, ACTERNA OLP-6.</li>
                        <li style="text-align: justify;">
                            Localizador Visual de Fallas en Fibra Óptica, ACTERNA OVF-1</li>
                        <li style="text-align: justify;">
                            Sonda de Inspección de Video en Fibra Óptica, WESTOVER FBP-S1</li>
                        <li style="text-align: justify;" class="lastItem">
                            Cualificador de Redes – CABLEIQ, FLUKE N10140.</li>
                    </ul>
                    <h5 style="text-align: justify;">
                        NOTA:Los instrumentos señalados con * cuentan certificados de calibración con trazabilidad a patrones de laboratorios acreditados internacionalmente.</h5>
                </div>



            </div>

        </div>
    </div>

</div>
