<div class="wrap wrap-mountain mt-12">
    <div class="container mt-6">
        <div class="text-center mb-4">
            <h2>MODALIDAD DEL SERVICIO</h2>
        </div>
        <div class="row">
            <div class="col-md-12">


                <div class="item_fulltext wow fadeInUp animation-delay-2"><p style="text-align: justify;">
                    Se han adoptado modalidades básicas, en base a las cuales puede adaptarse a los requerimientos más convenientes del cliente:</p>
                    <h2 style="text-align: justify;">
                        Modalidad A</h2>
                    <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
                        <tbody>
                        <tr>
                            <td>
                                <p style="text-align: justify;">
                                    Incorpora el catastro de los equipos y las características técnicas del cliente a la Base de Datos de Instalaciones ( BDI ) de ENDE TRANSMISIÓN, para ser considerados en la gestión del mantenimiento que se realiza con el apoyo del Sistema de Gestión del Mantenimiento ( SGM ).</p>
                                <p style="text-align: justify;">
                                    Posee la ventaja de que su programación reduce costos y optimiza los tiempos de intervención. Cubre las inspecciones periódicas, pruebas funcionales, ensayos básicos, análisis integral de parámetros, optimización de intervenciones y mantenimiento correctivo. Incluye materiales para líneas de transmisión. Eventualmente y de acuerdo al requerimiento, puede incluir el suministro de repuestos de equipo de subestaciones.</p>
                            </td>
                            <td style="text-align: justify;">
                                <img alt="" src="/etr/images/TDE/articulos/servicio6.jpg" style="width: 150px; height: 209px;"></td>
                        </tr>
                        </tbody>
                    </table>
                    <h2 style="text-align: justify;">
                        Modalidad B</h2>
                    <p style="text-align: justify;">
                        Se complementa la Modalidad A, con la atención de todas las emergencias y fallas en los componentes propiedad del cliente, con las facilidades que dispone ENDE TRANSMISIÓN para supervisar la operación y atender localmente cualquier emergencia.</p>
                    <h2 style="text-align: justify;">
                        Modalidad C</h2>
                    <p style="text-align: justify;">
                        Servicios específicos requeridos por los clientes para actividades de mantenimiento, operación, montajes, reparaciones, variantes y otros trabajos.</p>
                </div>








            </div>

        </div>
    </div>

</div>
