<div class="wrap wrap-mountain mt-12">
    <div class="container mt-6">
        <div class="text-center mb-4">
            <h2>NUESTROS CLIENTES</h2>
        </div>
        <div class="row" style="color: #333333 !important;background-color:white;">
            <div class="col-md-12">


                <div class="item_fulltext wow fadeInUp animation-delay-2">
                    <h2>
                    Empresas de Generación</h2>
                    <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
                        <tbody>
                        <tr>
                            <td style="width: 50%;">
                                <ul>
                                    <li class="firstItem">
                                        Compañía Boliviana de Energía Eléctrica S.A.</li>
                                    <li>
                                        Empresa Eléctrica Central Bulo Bulo S.A.</li>
                                    <li>
                                        Empresa Eléctrica Corani S.A.</li>
                                    <li>
                                        Empresa Guaracachi S.A.</li>
                                    <li class="lastItem">
                                        Empresa Nacional de Electricidad S.A.</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li class="firstItem">
                                        Empresa Río Eléctrico S.A.</li>
                                    <li>
                                        Empresa Valle Hermoso S.A.</li>
                                    <li>
                                        Hidroeléctrica Boliviana S.A.</li>
                                    <li class="lastItem">
                                        SYNERGIA S.A.</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        &nbsp;</p>
                    <h2>
                        Empresas de Distribución</h2>
                    <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
                        <tbody>
                        <tr>
                            <td style="width: 50%;">
                                <ul>
                                    <li class="firstItem">
                                        Compañía Eléctrica de Sucre S.A.</li>
                                    <li>
                                        Cooperativa de Servicios Eléctricos Trinidad Ltda.</li>
                                    <li>
                                        Cooperativa Rural de Electrificación Ltda.</li>
                                    <li>
                                        Electricidad de La Paz S.A.</li>
                                    <li>
                                        Empresa de Distribución Electricidad Larecaja S.A.M.</li>
                                    <li class="lastItem">
                                        Empresa de Luz y Fuerza Eléctrica de Cochabamba S.A.</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li class="firstItem">
                                        Empresa de Luz y Fuerza Eléctrica Oruro S.A.</li>
                                    <li>
                                        Empresa Eléctrica La Paz S.A.</li>
                                    <li>
                                        Servicios Eléctricos Potosí S.A.</li>
                                    <li>
                                        Servicios Eléctricos Tarija S.A.</li>
                                    <li>
                                        Servicios Eléctricos Villazon S.A.</li>
                                    <li class="lastItem">
                                        Servicios Eléctricos Yungas S.A.</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        &nbsp;</p>
                    <h2>
                        Empresas Industriales, Constructoras y de Servicio</h2>
                    <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
                        <tbody>
                        <tr>
                            <td style="width: 50%;">
                                <ul>
                                    <li style="text-align: justify;" class="firstItem">
                                        Asea Brown Bovery Ltda.</li>
                                    <li style="text-align: justify;">
                                        Comité Nacional de Despacho de Carga</li>
                                    <li style="text-align: justify;">
                                        Compañía Logística de Hidrocarburos Boliviana S.A.</li>
                                    <li style="text-align: justify;">
                                        Compañía Minera del Sur S.A.</li>
                                    <li style="text-align: justify;">
                                        Complejo Metalúrgico Vinto S.A.</li>
                                    <li style="text-align: justify;">
                                        Consorcio Astaldi - ICE</li>
                                    <li style="text-align: justify;">
                                        Consorcio Santos CMI</li>
                                    <li style="text-align: justify;">
                                        Cooperativa Boliviana de Cemento Ltda.</li>
                                    <li style="text-align: justify;">
                                        Corporación Minera Boliviana</li>
                                    <li style="text-align: justify;">
                                        Empresa Constructora Caballero S.A.</li>
                                    <li style="text-align: justify;">
                                        Empresa Manquiri S.A.</li>
                                    <li style="text-align: justify;">
                                        Empresa Minera Inti Raymi S.A.</li>
                                    <li style="text-align: justify;">
                                        Empresa Misicuni</li>
                                    <li style="text-align: justify;">
                                        Empresa Nacional de Telecomunicaciones S.A.</li>
                                    <li style="text-align: justify;" class="lastItem">
                                        Empresa Petrolera Chaco S.A.</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li class="firstItem">
                                        Fábrica Nacional de Cemento S.A.</li>
                                    <li>
                                        General Electric Energy (USA)</li>
                                    <li>
                                        Grupo Garper (Colombia)</li>
                                    <li>
                                        HANSA Ltda.</li>
                                    <li>
                                        Ingelec S.A.</li>
                                    <li>
                                        Ingenio Azucarero Guabirá S.A.</li>
                                    <li>
                                        Integra S.A.</li>
                                    <li>
                                        Interconexión Eléctrica ISA Bolivia S.A.</li>
                                    <li>
                                        Petrobrás Bolivia</li>
                                    <li>
                                        Petrobrás Bolivia Refinación S.A.</li>
                                    <li>
                                        Red Eléctrica del Sur S.A. (Perú)</li>
                                    <li>
                                        SIEMENS Power Transmission and Distribution (Colombia)</li>
                                    <li class="lastItem">
                                        SOLUZIONA (España)</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        &nbsp;</p>
                    <h2>
                        Operación de la Red de Transmisión Eléctrica</h2>
                    <p>
                        ENDE Transmisión tiene como fin principal la operación de la Red de Transmisión Eléctrica en alta tensión dentro el Sistema Interconectado Nacional (SIN). A noviembre de 2015, la red de transmisión en alta tensión operada por ENDE TRANSMISIÓN, que incluye instalaciones propias, de propiedad de la Empresa Nacional de Electricidad (ENDE) y de terceros, estas últimas son operadas por ENDE Transmisión mediante acuerdos contractuales, se extiende por ocho departamentos del Estado Plurinacional de Bolivia: La Paz, Cochabamba, Santa Cruz, Sucre, Oruro, Beni, Tarija y Potosí, con una extensión de 3.629 Km. de líneas: 1.905 Km. en 230 mil voltios, 1.434 Km. en 115 mil voltios y 289 Km. en 69 mil voltios. ENDE TRANSMISIÓN opera equipos de maniobra y transformación en 37 subestaciones del SIN.</p>
                </div>




            </div>

        </div>
    </div>

</div>
