<div class="wrap wrap-mountain mt-12">
    <div class="container mt-6">
        <div class="text-center mb-4">
            <h2>PRODUCTOS SERVICIOS</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="color-primary wow fadeInUp animation-delay-2"
                    style="visibility: visible; animation-name: fadeInUp;">Mantenimiento</h3>


                <div class="item_fulltext">
                    <p>
                        ENDE TRANSMISIÓN, ha desarrollado e implementado un sistema de mantenimiento predominantemente predictivo para todas sus instalaciones de líneas y subestaciones en el Sistema Interconectado Nacional.</p>
                    <p>
                        A partir del año 1998, ENDE TRANSMISIÓN ha puesto a disposición de empresas generadoras, distribuidoras, consumidores no regulados, empresas constructoras, de servicios y de la industria en general, la tecnología e infraestructura que dispone, para estudios y servicios de ingeniería, mantenimiento y utilización compartida de sus existencias en almacenes.</p>
                    <p>
                        El entorno de competitividad en el que se encuantran actualmente las empresas implica la necesidad de:</p>
                    <ul>
                        <li class="firstItem">
                            Aumentar la confiabilidad de los equipos e instalaciones</li>
                        <li>
                            Optimizar el binomio calidad-costo del mantenimiento aplicado</li>
                        <li>
                            Aprovechar la capacidad productiva</li>
                        <li class="lastItem">
                            Minimizar el tiempo de indisponibilidad de equipos, aumentando la vida útil a un costo reducido.</li>
                    </ul>
                    <p>
                        En este contexto ENDE TRANSMISIÓN ha desarrollado una infraestructura tecnológica especializada en instalaciones de media y alta tensión.</p>
                    <h3>
                        1.1 Mantenimiento de líneas de transmisión: 24,9 a 230 kV</h3>
                    <p>
                        Elaboración de un Plan y Oferta de mantenimiento en forma acordada con el cliente, según sus requerimientos y características de las instalaciones.</p>
                    <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
                        <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li class="lastItem firstItem">
                                        Inspecciones periódicas
                                        <ul>
                                            <li class="firstItem">
                                                Determinación visual de la condición o estado de cada uno de los componentes de líneas</li>
                                            <li>
                                                Termografía (detección de puntos calientes)</li>
                                            <li class="lastItem">
                                                Medición de la resistencia de puesta a tierra de la estructura (medida en alta frecuencia)</li>
                                        </ul>
                                    </li>
                                </ul>
                                <p>
                                    &nbsp;</p>
                                <ul>
                                    <li class="lastItem firstItem">
                                        Mantenimiento
                                        <ul>
                                            <li class="firstItem">
                                                Mantenimiento preventivo en línea energizada (estructuras metálicas y de madera)
                                                <ul>
                                                    <li class="firstItem">
                                                        Cambio de cadenas y aisladores quemados o rotos</li>
                                                    <li>
                                                        Aplomado de cadenas de aisladores</li>
                                                    <li class="lastItem">
                                                        Reposición y cambio de accesorios, ferretería de línea y componentes faltantes en estructuras y sistemas de aterrizamiento</li>
                                                </ul>
                                            </li>
                                            <li class="lastItem">
                                                Mantenimiento preventivo y correctivo en línea desenergizada (todo tipo de estructuras)
                                                <ul>
                                                    <li class="firstItem">
                                                        Cambio de aisladores quemados o rotos en estructuras con elevado ángulo y otras especialidades</li>
                                                    <li>
                                                        Reposición y cambio de ferretería de línea</li>
                                                    <li>
                                                        Reparación y cambio de conductor y cable de guarda</li>
                                                    <li class="lastItem">
                                                        Instalación de balizas de señalización</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                            <td style="text-align: right;">
                                <img alt="" src="/etr/images/TDE/articulos/servicio9.jpg" style="width: 150px; height: 234px;"></td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Ejecución de variantes y mejoras
                            <ul>
                                <li class="firstItem">
                                    Adición de estructuras intermedias</li>
                                <li>
                                    Modificación de trazo de línea</li>
                                <li>
                                    Mejoramiento de sistema de aterrizamiento de la estructura</li>
                                <li>
                                    Cambio de estructuras
                                    <ul>
                                        <li class="firstItem">
                                            Elevación de conductor</li>
                                        <li class="lastItem">
                                            Levantamientos topográficos (replanteos, perfiles longitudinales, planta y medición de distancias)</li>
                                    </ul>
                                </li>
                                <li class="lastItem">
                                    Obras civiles
                                    <ul>
                                        <li class="firstItem">
                                            Diseño, supervisión y construcción de defensivos de estabilización de terrenos</li>
                                        <li class="lastItem">
                                            Estudios geotécnicos de trazo y fundaciones</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Atención de emergencias (disponibilidad permanente)
                            <ul>
                                <li class="firstItem">
                                    Localización de fallas</li>
                                <li>
                                    Eliminación de la condición de falla</li>
                                <li class="lastItem">
                                    Reparación definitiva</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Ensayos y pruebas funcionales para la recepción y puesta en servicio de nuevas instalaciones y ampliaciones</li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Análisis y diagnóstico del área de mantenimiento de líneas de distribución o transporte</li>
                    </ul>
                    <h3>
                        1.2 Mantenimiento de subestaciones</h3>
                    <p>
                        Elaboración de un plan y oferta de mantenimiento en forma acordada con el cliente, según los requerimientos y características de las instalaciones.</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Transformadores de potencia y reactores
                            <ul>
                                <li class="firstItem">
                                    Mantenimiento Preventivo
                                    <ul>
                                        <li class="firstItem">
                                            Registro de valores de indicadores (temperaturas y contadores)</li>
                                        <li>
                                            Inspección, ajustes y limpieza (aisladores, cuba, tableros de control y protección, deshumectador y accesorios)</li>
                                        <li class="lastItem">
                                            Verificación (señalización y operación de protecciones propias, ventiladores, conmutador de posición de bobinas en vacío y con carga, válvulas)</li>
                                    </ul>
                                </li>
                                <li class="lastItem">
                                    Mantenimiento Predictivo (medición, ensayo y análisis integral de parámetros )
                                    <ul>
                                        <li class="firstItem">
                                            Medición de aislamiento en corriente alterna (capacitancia, factor de potencia) de aisladores, bobinas y aceite dieléctrico</li>
                                        <li>
                                            Medición de relación de información en tres posiciones</li>
                                        <li>
                                            Ensayo de excitación a tensión reducida en tres posiciones</li>
                                        <li class="lastItem">
                                            Ensayo físico-químico de aceite dieléctrico: rigidez dieléctrica, factor de potencia o de disipación índice de neutralización, contenido de humedad y tensión interfacial.</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Ensayo cromatográfico de gases disueltos en el aceite dieléctrico
                            <ul>
                                <li class="firstItem">
                                    Complementario (por evento o pedido)
                                    <ul>
                                        <li class="firstItem">
                                            Ensayo de derivados furánicos</li>
                                        <li>
                                            Medición de relación de transformación en todas las posiciones</li>
                                        <li>
                                            Ensayo de excitación a tensión reducida en todas las posiciones</li>
                                        <li>
                                            Medición de resistencia de arrollamientos</li>
                                        <li>
                                            Medición de resistencia de aislamento de bobinas, en corriente continua (índices de polarización y absorción)</li>
                                        <li>
                                            Medición de relación de transformación, aislamiento, polaridad y resistencia óhmica en transformador de corriente de aisladores pasatapas</li>
                                        <li class="lastItem">
                                            Inspección termográfica</li>
                                    </ul>
                                </li>
                                <li class="lastItem">
                                    Mantenimiento correctivo
                                    <ul>
                                        <li class="firstItem">
                                            Aceite dieléctrico : Tratamiento, secado, desgasificación y cambio</li>
                                        <li>
                                            Sistemas de refrigeración y conmutación de posiciones de bobina (con o sin carga)</li>
                                        <li>
                                            Cambio o recuperación de silicagel</li>
                                        <li>
                                            Eliminación de fugas de aceite</li>
                                        <li>
                                            Cambio de aisladores</li>
                                        <li>
                                            Reparación y reposición de bobinas</li>
                                        <li class="lastItem">
                                            Reajuste estructural, reposición de cuñas, conexiones</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Interruptores
                            <ul>
                                <li class="firstItem">
                                    Mantenimiento Preventivo
                                    <ul>
                                        <li class="firstItem">
                                            Registro de valores de indicadores (presiones de gas, contadores de operaciones)</li>
                                        <li>
                                            Inspección, ajustes, limpieza, lubricación (aisladores, tablero de control, conexiones de potencia, conexiones de control y protección, mecanismos de accionamiento)</li>
                                        <li class="lastItem">
                                            Verificación (señalización y operación) protecciones propias, niveles de aceite dieléctrico, indicadores locales y remotos de posición, cierre/apertura local y remota, sistema de calificación, mecanismo de accionamiento, antibombeo, ciclo de operación</li>
                                    </ul>
                                </li>
                                <li>
                                    Mantenimiento Predictivo (Medición, ensayo, análisis integral de parámetros)
                                    <ul>
                                        <li class="firstItem">
                                            Básico
                                            <ul>
                                                <li class="firstItem">
                                                    Resistencia estática de contactos principales y auxiliares</li>
                                                <li>
                                                    Resistencia dinámica</li>
                                                <li>
                                                    Tiempo de maniobra y simultaneidad de contactos</li>
                                                <li>
                                                    Desplazamiento de contactos (recorrido, penetración, sobre recorrido, velocidad, amortiguación y rebotes)</li>
                                                <li>
                                                    Medición de resistencia de aislamiento en corriente alterna (capacitancia, factor de potencia)</li>
                                                <li>
                                                    Medición de tiempo de reposición de energía</li>
                                                <li>
                                                    Resistencia y tensión mínima de bobinas de cierre y apertura</li>
                                                <li>
                                                    Aceite dieléctrico: Rigidez dieléctrica</li>
                                                <li class="lastItem">
                                                    Gas de hexafloruro de azufre: determinación del contenido de humedad (punto de rocío).</li>
                                            </ul>
                                        </li>
                                        <li class="lastItem">
                                            Complementario
                                            <ul>
                                                <li class="firstItem">
                                                    Inspección termográfica</li>
                                                <li>
                                                    Vibraciones</li>
                                                <li>
                                                    Medición de resistencia de aislamiento en corriente continua</li>
                                                <li class="lastItem">
                                                    Medición de intensidad de corriente de motores</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="lastItem">
                                    Mantenimiento Correctivo
                                    <ul>
                                        <li class="firstItem">
                                            Tratamiento, reposición o cambio de aceite dieléctrico</li>
                                        <li>
                                            Tratamiento, reposición o cambio de gas de hexafloruro de azufre</li>
                                        <li class="lastItem">
                                            Corrección de fallas y defectos, según acuerdo previo</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Pararrayos
                            <ul>
                                <li class="firstItem">
                                    Mantenimiento Preventivo
                                    <ul>
                                        <li class="firstItem">
                                            Registro de valores de indicadores (contadores de descarga y corriente de fuga)</li>
                                        <li class="lastItem">
                                            Inspección, ajuste y limpieza (aisladores, conexiones de potencia)</li>
                                    </ul>
                                </li>
                                <li class="lastItem">
                                    Mantenimiento Predictivo
                                    <ul>
                                        <li class="lastItem firstItem">
                                            Ensayo de potencia de pérdidas</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Transformadores de instrumetación (medida y protección )
                            <ul>
                                <li class="firstItem">
                                    Mantenimiento Preventivo
                                    <ul>
                                        <li class="firstItem">
                                            Inspección, ajuste y limpieza (porcelana, pintura, membrana de compensación, válvulas, hermeticidad, conexiones primarias y secundarias, visor de nivel de aceite, fugas, presión de gas)</li>
                                        <li class="lastItem">
                                            Verificaciones (termomagnéticos, fusibles, calefacción)</li>
                                    </ul>
                                </li>
                                <li class="lastItem">
                                    Mantenimiento Predictivo (medición, ensayos y análisis integral de parámetros)
                                    <ul>
                                        <li class="firstItem">
                                            Básico
                                            <ul>
                                                <li class="firstItem">
                                                    Medición de relación de transformación y polaridad</li>
                                                <li>
                                                    Medición de sistema de aislamiento de bobinas con corriente alterna (capacitancia, factor de potencia)</li>
                                                <li>
                                                    Medición de resistencia de arrollamientos</li>
                                                <li class="lastItem">
                                                    Medición de factor de potencia y capacitancias C1-C2 en transformadores con toma capacitiva</li>
                                            </ul>
                                        </li>
                                        <li class="lastItem">
                                            Complementaria
                                            <ul>
                                                <li class="firstItem">
                                                    Cierre de saturación (transformadores de corriente)</li>
                                                <li>
                                                    Carga conectada (transformadores de corriente)</li>
                                                <li>
                                                    Inspección termográfica</li>
                                                <li class="lastItem">
                                                    Medida de resistencia de aislamiento de arrollamientos, con corriente continua</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Banco de baterías
                            <ul>
                                <li class="firstItem">
                                    Mantenimiento Preventivo
                                    <ul>
                                        <li class="lastItem firstItem">
                                            Inspección, ajuste y limpieza (estructura, soporte, contenedores, sedimentación, placas, bornes, nivel de electrolito, sistema de ventilación)</li>
                                    </ul>
                                </li>
                                <li>
                                    Mantenimiento Predictivo (medición, ensayos y análisis integral de parámetros)
                                    <ul>
                                        <li class="firstItem">
                                            Medición, registro de temperatura y densidad del electrolito</li>
                                        <li>
                                            Medición de tensión de celda y banco</li>
                                        <li class="lastItem">
                                            Pruebas de capacidad</li>
                                    </ul>
                                </li>
                                <li class="lastItem">
                                    Mantenimiento Correctivo
                                    <ul>
                                        <li class="firstItem">
                                            Carga de ecualización</li>
                                        <li>
                                            Corrección de fallas y defectos</li>
                                        <li class="lastItem">
                                            Reposición y provisión de agua destilada y desmineralizada (obtenida con equipo específico para baterías estacionarias)</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Máquinas eléctricas rotativas
                            <ul>
                                <li class="lastItem firstItem">
                                    Mantenimiento Predictivo (medición, ensayos y análisis integral de parámetros)
                                    <ul>
                                        <li class="lastItem firstItem">
                                            Medición de resistencia de aislamiento de arrollamiento en c.c. (capacitancia, factor de potencia, potencia de pérdida)</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Banco de capacitores
                            <ul>
                                <li class="lastItem firstItem">
                                    Mantenimiento Predictivo (medición, ensayos y análisis integral de parámetros)
                                    <ul>
                                        <li class="firstItem">
                                            Desbalanceo de corriente</li>
                                        <li>
                                            Capacitancia por unidad, por grupo y total por fase</li>
                                        <li class="lastItem">
                                            Medición de resistencia de aislamiento de soporte</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Otros equipos
                            <ul>
                                <li class="firstItem">
                                    Seccionadores</li>
                                <li>
                                    Malla de tierra</li>
                                <li>
                                    Barras</li>
                                <li>
                                    Trampa de onda</li>
                                <li>
                                    Servicios auxiliares</li>
                                <li>
                                    Montaje de equipos</li>
                                <li class="lastItem">
                                    Ensayo y pruebas funcionales para la puesta de servicio de equipos</li>
                            </ul>
                        </li>
                    </ul>
                    <h3>
                        1.3 Mantenimiento de Sistemas de Control y Protección</h3>
                    <ul>
                        <li class="lastItem firstItem">
                            Equipos de protección de transformadores, generadores y líneas
                            <ul>
                                <li class="firstItem">
                                    Mantenimiento preventivo y correctivo de unidades de protección y relés de toda tecnología.</li>
                                <li>
                                    Verificación de ajustes.</li>
                                <li>
                                    Obtención de curvas características de operación de relés de diversa tecnología mediante inyección de tensiones y/o corrientes.</li>
                                <li class="lastItem">
                                    Cambio de ajustes y reprogramación de relés.</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Recepción de instalaciones nuevas o ampliaciones
                            <ul>
                                <li class="firstItem">
                                    Revisión de circuitos de corriente y tensión.</li>
                                <li>
                                    Inyección de corriente y tensión CA y CC.</li>
                                <li>
                                    Revisión de circuitos de control, protección, señalización y medición.</li>
                                <li>
                                    Verificación de relaciones de los transformadores de medida.</li>
                                <li class="lastItem">
                                    Trabajos de pruebas pre-energización y post-energización.</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <ul>
                        <li class="lastItem firstItem">
                            Medidores e indicadores de parámetros eléctricos
                            <ul>
                                <li class="firstItem">
                                    Calibración de transductores.</li>
                                <li class="lastItem">
                                    Determinación de errores en indicadores: vatímetros, vármetros, amperímetros, voltímetros, frecuencímetros e indicadores de factor de potencia.</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <h3>
                        1.4 Mantenimiento General de obras Civiles</h3>
                    <h3>
                        1.5 Atención de emergencias ( disponibilidad permanente )</h3>
                    <ul>
                        <li class="firstItem">
                            Localización de fallas.</li>
                        <li>
                            Eliminación de la condición de falla.</li>
                        <li>
                            Reparación definitiva.</li>
                        <li>
                            Determinación de stock mínimo de repuestos y materiales.</li>
                        <li class="lastItem">
                            Análisis y diagnóstico del área de mantenimiento de equipos de subestaciones.</li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <h3>
                        1.6 Sistemas SCADA y Telecontrol</h3>
                    <ul>
                        <li class="firstItem">
                            Mantenimiento preventivo y correctivo de sistemas SCADA y de telecontrol.</li>
                        <li>
                            Implementación de sistemas SCADA y de telecontrol.</li>
                        <li>
                            Ampliación de Sistemas SCADA y de telecontrol.</li>
                        <li class="lastItem">
                            Puesta en servicio de sistemas SCADA y de telecontrol.</li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <h3>
                        1.7 Comunicaciones</h3>
                    <ul>
                        <li class="firstItem">
                            Mantenimiento preventivo y correctivo de equipos de radio AM/FM.</li>
                        <li>
                            Mantenimiento preventivo y correctivo de sistemas de comunicación y onda portadora.</li>
                        <li>
                            Revisión y mantenimiento de fibra óptica.</li>
                        <li class="lastItem">
                            Implementación, ampliación y puesta en servicio de sistemas de comunicación y onda portadora.</li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <h2>
                        Estudios de Ingeniería</h2>
                    <p>
                        Servicios de ingeniería en sistemas de transmisión consistentes en:</p>
                    <h3>
                        2.1 Líneas de Transmisión</h3>
                    <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
                        <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li class="firstItem">
                                        Selección de ruta, en mapas satelitales digitalizados y mapas del I.G.M. Definición de ruta seleccionada con mediciones físicas con GPS y mediciones topográficas con Estación Total "LEICA". Referenciación en coordenadas.</li>
                                    <li>
                                        Catografía U.T.M. Estudio Geológico, análisis geológico y mapeo geotectónico. Geología estructural y estratigráfica.</li>
                                    <li>
                                        Estudio de Suelos, ensayos de penetración SP y/o CPTu. Límites de consistencia y Clasificación de suelos ( sistema unificado ).</li>
                                    <li>
                                        Ingeniería Básica. Definición de condiciones climáticas. Adopción de las hipótesis para el cálculo mecánico. Definición del material, familia, tipo y solicitaciones de estructuras. Selección del tipo de fundaciones. Selección del tipo y calibre de conductores. Definición del nivel de aislamiento, número de aisladores por cadena. Tipología de puestos a tierra. Selección de ferretería y elementos secundarios. ( Aplicación de paquetes computacionales TOWER, FLASH, BFR, SFFOR, SAGSEC, ALCOA, EPSU, PARLIN, etc. ).</li>
                                    <li>
                                        Perfil topográfico. Levantamiento topográfico con estación total y georeferenciamiento con GPS.</li>
                                    <li>
                                        Ubicación óptima de estructuras, con paquete computacional PLS-CADD.</li>
                                    <li>
                                        Elaboración de especificaciones técnicas para el suministro de materiales y para la construcción y montaje.</li>
                                    <li>
                                        Presupuestos para el suministro de materiales e instalación y montaje.</li>
                                    <li>
                                        Elaboración de cronogramas de ejecución.</li>
                                    <li class="lastItem">
                                        Elaboración de documentos de licitación para adquisición de materiales, instalación y montaje.</li>
                                </ul>
                            </td>
                            <td style="text-align: right;">
                                <img alt="" src="/etr/images/TDE/articulos/servicio8.jpg" style="width: 150px; height: 228px;"></td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        &nbsp;</p>
                    <h3>
                        2.2 Subestaciones</h3>
                    <ul>
                        <li class="firstItem">
                            Ubicación óptima de la subestación.</li>
                        <li>
                            Selección del tipo de subestación, convencional interior o exterior, compacta o encapsulada en gas SF6.</li>
                        <li>
                            Definición de configuración de barras, en base a criterios de confiabilidad y flexibilidad.</li>
                        <li>
                            Diseño de patio de subestaciones, elaboración de planos de disposición física de equipos, planos de planta, cortes, canalizaciones y ductos, malla de tierra, protección contra descargas directas, etc.</li>
                        <li>
                            Diseño de sistemas de control, protección y comunicaciones, diagramas unifilares, en coordinación con las instalaciones existentes en el Sistema Interconectado Nacional.</li>
                        <li>
                            Diseño de obras civiles.</li>
                        <li>
                            Elaboración de especificaciones técnicas de suministros de equipos y materiales, construcción y montaje y/o documentos de licitación.</li>
                        <li>
                            Presupuestos de suministro y construcción y montaje, ingeniería, administración y supervisión.</li>
                        <li class="lastItem">
                            Elaboración de cronogramas de proyecto.</li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <h3>
                        2.3 Análisis de sistemas</h3>
                    <ul>
                        <li class="firstItem">
                            Análisis de Flujos de potencia, en base a los datos oficiales del SIN, para demandas mínimas y máximas.</li>
                        <li>
                            Análisis de cortocircuitos, monofásicos y trifásicos.</li>
                        <li>
                            Estabilidad estática.</li>
                        <li class="lastItem">
                            Coordinación de protecciones y ajustes de relés para transmisión, distribución y generación.</li>
                    </ul>
                    <p>
                        &nbsp;</p>
                    <h2>
                        Suministro de equipos y materiales</h2>
                    <p>
                        Provisión de repuestos y materiales para líneas y equipos de subestaciones (integración en un esquema de repuestos en bolsa común con ENDE TRANSMISIÓN)</p>
                    <h2>
                        Administración de redes de terceros</h2>
                </div>





            </div>

        </div>
    </div>

</div>
