<div class="wrap wrap-mountain mt-12">
    <div class="container mt-6">
        <div class="text-center mb-4">
            <h2>¿ QUÉ HACEMOS ?</h2>
        </div>
        <div class="row">
            <div class="col-md-12"  style="color: #333333 !important;background-color:white;">
                <h3 class="color-primary wow fadeInUp animation-delay-2"
                    style="visibility: visible; animation-name: fadeInUp;"></h3>
                <p class="wow fadeInUp animation-delay-3" style="visibility: visible; animation-name: fadeInUp;">
                <h2>Transporte Eléctrico</h2>
                <br>
                Dadas las características de la energía eléctrica, los sistemas eléctricos de potencia requieren una
                coordinación operativa permanente entre la generación, la transmisión y la distribución.
                <br>
                En tal sentido el transporte de energía eléctrica en alta tensión es una actividad estratégica que
                permite:
                <br>
                Un flujo eléctrico permanente y confiable de energía eléctrica desde los centros de generación a los
                puntos de retiro de los distribuidores y consumidores no regulados, la asignación económica del despacho
                entre todas las unidades generadoras termoeléctricas e hidroeléctricas disponibles en el sistema, y que
                las unidades generadoras puedan cubrir los cambios instantáneos en la demanda de los consumidores
                finales a lo largo de toda la red, manteniendo en todo momento la frecuencia eléctrica del sistema y los
                niveles de tensión en los puntos de retiro de los consumos dentro de rangos aceptables técnicamente.

                </p>

                <p class="wow fadeInUp animation-delay-3" style="visibility: visible; animation-name: fadeInUp;">
                <h2>Operación, Mantenimiento y Administración de la Red de Transmisión Eléctrica</h2>
                <br>

                ENDE TRANSMISIÓN tiene como fin principal la operación, mantenimiento y operación de la Red de
                Transmisión Eléctrica en alta tensión de su propiedad y de propiedad de la Empresa Nacional de
                Electricidad (ENDE), de la cual ENDE TRANSMISIÓN es empresa filial, dentro el Sistema Interconectado
                Nacional (SIN).
                La red de transmisión en alta tensión operada por ENDE TRANSMISIÓN se extiende por ocho de los nueve
                departamentos de Bolivia: La Paz, Cochabamba, Santa Cruz, Sucre, Oruro, Potosí, Beni y Tarija con una
                extensión de 3.108 Km. de líneas: 1.385 Km. en 230 mil voltios, 1.434 Km. en 115 mil voltios y 290 Km.
                en 69 mil voltios. ENDE TRANSMISIÓN opera equipos de maniobra, protección y transformación, en 29
                subestaciones eléctricas de potencia del SIN.
                <br>
                Para atender la operación de su red de transmisión, durante las 24 horas del día, ENDE TRANSMISIÓN
                dispone de un Centro de Operaciones de Transmisión (COT) en la ciudad de Cochabamba, dotado con un
                sistema SCADA, para la supervisión y el control remoto de todas las instalaciones del Sistema
                Interconectado Nacional (SIN), sustentado en una infraestructura de comunicaciones que le permite
                disponer de información sobre la condición de toda la red, los puntos de conexión de todos sus clientes
                y las condiciones de servicio. Estas facilidades son utilizadas por el Comité Nacional de Despacho de
                Carga, institución encargada de la operación, el despacho económico de carga a mínimo costo en el SIN,
                la planificación de la expansión del SIN y las transacciones económicas entre los agentes del Mercado
                Eléctrico Mayorista (MEM) boliviano.

                <br>
                Para minimizar la frecuencia y la duración de las interrupciones de servicio eléctrico al consumidor
                final, ENDE TRANSMISIÓN cumple su obligación mediante un constante y meticuloso mantenimiento programado
                de sus instalaciones, maximizando la disponibilidad de los componentes del sistema de transmisión, así
                como la calidad de la energía eléctrica a lo largo del SIN.

                </p>

            </div>

        </div>
    </div>

</div>
