<div class="wrap wrap-mountain mt-12">
    <div class="container mt-6">
        <div class="text-center mb-4">
            <h2>SOBRE ENDE TRANSMISIÓN</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary wow fadeInUp animation-delay-5" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne1" aria-expanded="true">MISIÓN</a>
                            </h4>
                        </div>
                        <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body in" style="color: #333333 !important;">
                                Como Empresa de ENDE Corporación, contribuir al desarrollo nacional, satisfaciendo las necesidades de Transmisión de Electricidad de Bolivia, mediante una gestión que asegure la creación de valor para sus Grupos de Interés, la Mejora Continua, la Sostenibilidad Financiera y el cuidado del Medio Ambiente.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary wow fadeInUp animation-delay-5" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true">VISIÓN</a>
                            </h4>
                        </div>
                        <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body in" style="color: #333333 !important;">
                                Como empresa de ENDE Corporación, contar con una Red de Transmisión Eléctrica Nacional confiable y en crecimiento y fortalecimiento continuos, garantizando calidad de gestión y contribuyendo a la Integración Eléctrica Internacional.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary wow fadeInUp animation-delay-5" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne3" aria-expanded="true">VALORES CORPORATIVOS</a>
                            </h4>
                        </div>
                        <div id="collapseOne3" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body in" style="color: #333333 !important;">
                                <ul>
                                    <li>Transparencia. Llevar a cabo una gestión enmarcada en el cumplimiento de las leyes y la normativa aplicables.</li>
                                    <li>Excelencia. Calidad sobresaliente</li>
                                    <li>Sostenibilidad y Sustentabilidad. Que puede mantenerse a lo largo del tiempo.</li>
                                    <li>Responsabilidad. Cumplimiento de las obligaciones.</li>
                                    <li>Disciplina y Flexibilidad. Capacidad de adaptarse a distintas situaciones, en el marco de la ética personal y de las normas y principios de la Empresa</li>
                                    <li>Trabajo digno y seguro. Trabajo en condiciones libres, igualitarias, seguras y humanamente favorables.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary wow fadeInUp animation-delay-5" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne4" aria-expanded="true">POLÍTICA DE GESTIÓN</a>
                            </h4>
                        </div>
                        <div id="collapseOne4" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body in" style="color: #333333 !important;text-align:center;">
                                <img src="templates/quienes_somos_politicagestion2016.jpg" title="" tag="" />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary wow fadeInUp animation-delay-5" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne5" aria-expanded="true">ESTRUCTURA DE LA EMPRESA</a>
                            </h4>
                        </div>
                        <div id="collapseOne5" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body in" style="color: #333333 !important;text-align:center;">
                                <table width="100%">
                                <tr>
                                    <td><img src="templates/quienes_somos_organigrama2017b.png" title="" tag="" height="400" /></td>
                                    <td><img src="templates/quienes_somos_organigrama2017.png" title="" tag="" height="400" /></td>
                                </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary wow fadeInUp animation-delay-5" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne6" aria-expanded="true">ORGANIZACIÓN</a>
                            </h4>
                        </div>
                        <div id="collapseOne6" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body in" style="color: #333333 !important;">
                                <ul>ETR se encuentra organizada en cinco gerencias de área, bajo un enfoque de cadena de valor coherente con la gestión por procesos:
                                    <li>Gerencia General: Ing. Ramiro Mendizabal Vega</li>
                                    <li>Gerencia Técnica: Ing. Félix Meza Rosso</li>
                                    <li>Gerencia de Operaciones y Mantenimiento: Ing. Marcelo Hinojosa Torrico</li>
                                    <li>Gerencia de Planificación: Ing. Germán Rocha Maldonado</li>
                                    <li>Gerencia de Administración y Finanzas: Lic. Marcelo Argandoña Vargas</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary wow fadeInUp animation-delay-5" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne7" aria-expanded="true">CERTIFICACIONES Y CALIFICACIONES</a>
                            </h4>
                        </div>
                        <div id="collapseOne7" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body in" style="color: #333333 !important;text-align:center;">
                                <img src="templates/quienes_somos_sistemadegestion_certificaciones2017.png" title="" tag="" />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary wow fadeInUp animation-delay-5" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne8" aria-expanded="true">ALCANCE DE LOS SISTEMAS DE GESTIÓN</a>
                            </h4>
                        </div>
                        <div id="collapseOne8" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body in" style="color: #333333 !important;">
                                Planificación, Diseño, Construcción, Operación y Mantenimiento de componentes de la red de transmisión eléctrica en alto voltaje (tensión igual o superior a 69 kV).
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
