<div class="wrap wrap-mountain mt-12">
    <div class="container mt-6">
        <div class="text-center mb-4">
            <h2>SECTOR ELÉCTRICO EN BOLIVIA</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="color-primary wow fadeInUp animation-delay-2" style="visibility: visible; animation-name: fadeInUp;"></h3>
                <p class="wow fadeInUp animation-delay-3" style="visibility: visible; animation-name: fadeInUp;">
                    La industria eléctrica en Bolivia se encuentra dividida en tres actividades: generación, transmisión y distribución. La especialización en dichas actividades ha dotado de mayor confiabilidad el suministro eléctrico al consumidor final. Por otra parte, el sostenido crecimiento de la demanda eléctrica requiere permanentemente de significativa inversión en la infraestructura eléctrica
                </p>
                <p class="wow fadeInUp animation-delay-4" style="visibility: visible; animation-name: fadeInUp;">
                    La red de transmisión operada por ENDE TRANSMISIÓN articula el Sistema Interconectado Nacional (SIN), permitiendo la conexión de 27 agentes del mercado eléctrico bajo la modalidad de acceso abierto. Junto con otros 3 agentes transmisores, esto asegura la dotación de energía termo e hidroeléctrica a siete empresas distribuidoras y cuatro consumidores no regulados y por parte de doce agentes generadores.
                    <br>
                    Red de Transmisión boliviana en 69kV, 115 kV y 230 kV (noviembre 2015)
                </p>
            </div>
            <div class="col-md-6">
                <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary wow fadeInUp animation-delay-2" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="panel-heading" role="tab" id="headingOne2">
                            <h4 class="panel-title">
                                <a style="color: #111;" class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">Actualidad del Mercado Eléctrico </a>
                            </h4>
                        </div>
                        <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
                            <div class="panel-body in" style="color: #333 !important;">
                                Durante el año 2014, la demanda máxima coincidental del Sistema Interconectado Nacional (SIN) tuvo un incremento de 8,02% y un incremento de 6,63% en energía respecto a la gestión 2013
                                <br>
                                El incremento de consumo de energía eléctrica, se atribuye al crecimiento de las distribuidoras CESSA, con aumento en consumo de energía anual del 9,83%, CRE con el 6,69% y ELFEC con 6,57%. El consumo de energía entre todas las distribuidoras del Mercado Eléctrico Mayorista, presentó en general un significativo crecimiento, siendo los menores valores registrados los de ELFEOSA, con un 3,92 % y SEPSA con un 4,97%. Asimismo, es relevante indicar la incorporación de los retiros de SETAR en las subestaciones Tarija que suministra parcialmente la demanda de la ciudad de Tarija y subestación Yaguacua, ésta última para las demandas de Yacuiba y Villa Montes.
                                <br>
                                Por parte de los consumidores regulados, se mantiene la tendencia anual de reducción de del consumo de energía y demanda de potencia de Inti Raymi. Se observa que COBOCE ha incrementado su consumo de energía anual en un 40,28% pero muestra una reducción de 70,54% de su demanda coincidental a la demanda de potencia máxima del año registrada en el sistema.
                                <br>
                                En esta gestión la demanda de potencia máxima fue de 1.298 MW. El consumo total anual, a nivel de retiros del Sistema Troncal Interconectado (STI), fue de 7.477,7 GWh.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <img src="templates/sector_electrico_en_bolivia_TDE2015.png" alt="" title="" width="100%" />
            </div>
        </div>
    </div>
</div>
